
.photo-search-container {

	main {
	  width: 80%;
	  min-height: 100px;
	  background-color: #dfdfdf;
	  margin: 0 auto;
	}

	.photo-list img {
	  height: 100px;
	  float: left;
	  display: inline-block;
	}
	.search-input {
		
	}
}