{{!< default}}
<div id="root">
	<h1>Home Page</h1>
	<nav>
	 	<ul> 
	 		<li>
	 			<a href="/pages/todo.html">Todo App</a>
	 		</li>
	 		<li>
	 			<a href="/pages/multimedia.html">Multimedia</a>
	 		</li>
	 	</ul>	
	</nav>
</div>
