{{!< default}}
<div id="root">
  <header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
          <img class="homeImage" src="/media/imgres.jpg">
          <h2 class="pageTitle"> BOBBY CHAN</h2>
          <h2 class="pageTitleSub"> Design*Web Dev*Photography</h2>
          <nav></nav>
        </div>
    </div>
      <div class="row">
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Press+Start+2P|Cabin+Sketch|Roboto|Cedarville+Cursive" rel="stylesheet">
        <div class="col-sm-3 block1">
          <h3 class="welcome1">Welcome</h3>
          <h2 class="welcome2">I am Bobby Chan <br> and this is my online portfolio.</h2>
        </div>
        <div class="col-sm-3 block2"></div>
        <div class="col-sm-3 block3"><h2 class="aboutMe1">ABOUT ME</h2></div>  
        <div class="col-sm-3 block4"></div>
      </div>  
    </div> 
      <div class="row">
        <div class="col-sm-3 block5"></div>
        <div class="col-sm-3 block6"><img class="planeImage" src="/media/paperPlane.png"><h3 class="contactMe">Contact Me</h3></div>
        <div class="col-sm-3 block7"></div>  
        <div class="col-sm-3 block8"><img class="jsImage" src="/media/Js.png"><h3 class="codingText">.Coding</h3></div>
      </div> 
       <div class="row">
        <div class="col-sm-3 block9">
          <img class="emblemImage" src="/media/emblem.png"><h3 class="designWork">Design</h3></div>
        <div class="col-sm-3 block10"></div>
        <div class="col-sm-3 block11">
          <img class="cameraImage" src="/media/camera.png"><h3 class="photographyText">Photography</h3>
        </div>  
        <div class="col-sm-3 block12"></div>
      </div> 
      </div>
    </div>	 
  </header>
</div>

